DATABASE_URL=postgresql://postgres:[NhatViet)#)^^)@))!]@db.zotlsoskedcjlwfmjdrs.supabase.co:5432/postgres
SECRET_KEY=aaabbbccceiuergopwgn
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480
FRONTEND_URL=www.nhatvietindustry.app